// Internal variables
$x-color-white: #FFFFFF;
$x-color-light-gray: #EDECEC;
$x-color-dark-gray: #1A1A1A;
$x-color-gray: #292929;
$x-color-violet: #C58FFF;
$x-color-black: #000000;


// Global Variables
$palette-primary: $x-color-light-gray;
$palette-text-light: $x-color-white;
$palette-text-dark: $x-color-black;
$palette-bg: $x-color-dark-gray;
$palette-active: $x-color-violet;
$palette-footer: $x-color-gray;


// Google Fonts
%pt-sans-narrow-regular {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
}

%pt-sans-narrow-bold {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

