@import "../../styles/variables";

.content {
  &__text {
    margin-bottom: 14px;
    text-transform: capitalize;
    @include font($regular, 18px, 26px);
  }

  &__form {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
    margin-bottom: 60px;
  }

  &__input {
    width: 100%;
    padding: 22px 16px 21px;
    @include font($regular, 16px, 21px, $palette-text-dark);
    border: 2px solid $palette-border;
    transition: all 0.3s ease;
    background-color: $palette-primary;

    &::placeholder {
      color: $palette-active;
    }

    &:focus {
      border: 2px solid $palette-active;
    }
  }

  &__btn {
    width: 100%;
    background: #c58fff;
    border-radius: 0;
    padding: 20px 0;
    transition: all 0.3s ease;
    @include font($regular, 22px, 28px, $palette-text-light);

    &:hover {
      background-color: #a461ec;
    }
  }
}

.posts {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 30px;
  margin-bottom: 60px;
}

.post {
  width: 100%;
  height: 100%;
  position: relative;
  @include font($regular, 18px, 23px, $palette-text-light);

  &__img {
    width: 100%;
    margin-bottom: 35px;
  }

  &__text {
    position: absolute;
    bottom: 0;
  }

  &__wrap {
    @include font($regular, 16px);
  }
}


// Media

@media (max-width: 660px) {
  .posts {
    width: 60%;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 420px) {
  .content {
    &__form {
      grid-template-columns: 1fr;
    }
  }

  .posts {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}
