@import "../../styles/variables";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 40px 75px;

    &__logo {
        @include font($bold, 26px, 34px);
        color: $palette-active;

        &:hover .header__text-wrapper{
            color: $palette-active;
        }

        &:hover .header__text {
            color: #fff;
        }
    }

    &__text {
        transition: all .3s ease;
    }
    
    &__text-wrapper {
        transition: all .3s ease;
        color: $palette-text-light;
    }

    &__contacts {
        width: 100%;
        max-width: 192px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__contacts {
    transition: all 0.3s ease;
    &:hover .social-link img:not(:hover) {
        opacity: 0.5;
        transition: all 0.3s ease;
    }
}

@media (max-width: 420px) {
    .header {
        flex-direction: column;

        &__logo {
            margin-bottom: 15px;
        }
    }
}



