@import "../../styles/variables";

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  @include font($bold, 28px, 36px, inherit);

  &__title {
    margin-right: 20px;
  }

  &__wrapper {
    background-color: $palette-primary;
    @include font($regular, 18px, 23px, $palette-text-dark);
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 0;
    border: none;
    padding: 24px 80px 21px 24px;
    outline: none;
    appearance: none;
    background-image: url("../../images/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 24px center;
  }
}
